@import "utilities";

.body{
  background-color: $black;
  color: $textColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;  
}

.portfolioTitle{
  font-size: 3rem;
  text-align: center;
}

.mainContent{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tools{
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 40px 20px;
  margin: 0 0 5rem 0;
}

#imgHolder{
  margin: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  

  #blurb{
    color: $textColor;
    font-style: italic;
    text-align: center;
  }

  #profilePicture{
    border-radius: 50%;
    width: 300px;
  }

  #profilePicture:hover{
    animation-play-state: running;
    animation: spin 5s linear infinite;
  }


  @keyframes spin {
    0%{
      transform: rotatey(0deg);
    }
    100%{
      transform: rotatey(360deg);
    }
  }
}

.scrollBottom{
  z-index: 100;
  position: fixed;
  animation: moveToCorner 4s ease-in-out forwards;
}

@keyframes moveToCorner{
  0%{
    top: 10%;
    left: 50%;
    width: 300px;
  }
  25%{
    width: 100px;
  }
  50%{
    top: 10%;
    left: 20%;
    width: 100px;
  }
  65%{
    top: 85%;
    left: 20%;
    width: 100px;
  }
  70%{
    top: 75%;
    left: 20%;
    width: 100px;
  }
  80%{
    top: 85%;
    left: 20%;
    width: 100px;
  }
  90%{
    top: 80%;
    left: 20%;
    width: 100px;
  }
  100%{
    top: 85%;
    left: 20%;
    width: 100px;
  }
}

.projectSpotlight{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
  
  #projectWrapper{
    border-radius: 15px;
    position: relative;
  }
  .projectTools{
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: flex-start;
    *{
      margin-right: 10px;
    }
  }   
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-weight: 700;
    font-size: 3rem;
    text-decoration: none;
    transition: color .25s, background-color .25s;
    &:hover{
      background-color: rgba(0,0,0,0.8);
      color: $textColor;
      display: flex;
    }
  }
  img{
    border-radius: 15px;
    height: 500px;
    transition: height .25s;
  }
  img:hover{
    height: 550px;
  }
}

.tooltip{
  position: relative;
  span{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: $textColor;
    padding: 5px;
  }
  &:hover span{
    display: block;
  }
}