@import "utilities";

.header{
  height: 60px;
  background-color: $black;
  display: grid;
  grid-template-columns: 20vw 40vw 39vw;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0 20px;
  border-bottom: $borderblack;
  position: sticky;
  top: 0;
  z-index: 1;
  @media (max-width: $width-breakpoint){
    grid-template-columns: 20vw 60vw 20vw;
  }

  .menuWrapper{
    position: relative;
    .hamburgerMenu{
      background: none;
      color: $iconColor;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      display: flex;
      padding: 10px;
      size: 20px;
      @media (max-width: $width-breakpoint){
        display: flex;
      }
    }
    .dropDown{
      position: absolute;
      border: 1px solid black;
      top: 50px;
      display: none;

      // display: none;
      height: 150px;
      width: 150px;
      background-color: black;
      ul{
        list-style: none;
        
      }
      a{
        text-decoration: none;
      }
    }
  }

  #title{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: $textColor;
    transition: color .25s;
    @media (max-width: $width-breakpoint){
      justify-content: center;
    }
  }

  #title:hover{
    color: $textHoverColor;
  }

  .icons{
    display: flex;
    justify-content: flex-end;
    svg{
      color: $iconColor;
      margin: 0 5px 0  0;
      height: 20px;
      width: 20px;
      transition: color .25s;
    }

    svg:hover{
      color: $iconHoverColor;
    }
    svg:last-child{
      margin-left: 20px;
    }
    ul{
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      @media (max-width: $width-breakpoint) {
        display:none;
      }
      a{
        text-decoration: none;
        color: $textColor;
        transition: color .25s;
        font-size: .90rem;
          
      }
      li{
        margin: 0 5px;
      }
      a:hover{
        color: $textHoverColor;
      }
    }
    .active {
      color: $textHoverColor ;
    }
  }
  
}



.mainGrid{
  display: grid;
  overflow-x: hidden;
  grid-template-columns: 15vw calc(85vw - 40px);
  padding: 40px;
  background-color: $black;
  @media (max-width: $width-breakpoint) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}