@import "utilities";

.navBar{
  width: 95%;
  border-right: $borderblack;
  background-color: $black;

  @media(max-width: $width-breakpoint) {

    display: none;
  }

  .navSections{
    margin: 0;
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: column;
    z-index: 0;
  }
  a{
    text-decoration: none;
    color: $textColor;
    transition: color .25s;
    margin-bottom: 20px;
    &:hover{
      color: $textHoverColor;
    }
  }
  .active{
    color: $textHoverColor;
  }
}

