@import "utilities";

.navBar{
  width: 95%;
  border-right: $borderblack;
  background-color: $black;
  .sections{
    list-style: none;
    line-height: 3rem;
    margin: 0;
    position: fixed;
    top: 100px;
    z-index: 0;
  }
  li{
    transition: color .25s;
    width: fit-content;
    padding: 5px;
    border-radius: 15px;
  }
  li:hover{
    color: $textHoverColor;
  }
  a{
    text-decoration: none;
    color: $textColor
  }
  .active{
    color: $textHoverColor;
  }
}

