@import "utilities";

.resumePage{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $textColor;
}

#image{
  height: 900px;
  width: 690px;
  border-radius: 15px;
  box-shadow: $boxShadowBlack;
  @media(max-width: $width-breakpoint){
    display: none;
  }
}

#resumeWrapper{
  display: none;
  @media(max-width: $width-breakpoint){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 77vh;
  }
  #downloadResumeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: $secondaryBlack;
    height: 3rem;
    padding: 15px;
    width: 10rem;
    border-radius: 15px;
    color: $textColor;
	  border: $obviousborderblack;
    box-shadow: $boxShadowBlack;
  }
  
}

#resumeTitle{
  margin-bottom: 10px;
  font-size: 3rem
}