@import "utilities";

body{
 margin: 0;
 font-family: 'InterTight', sans-serif;
 box-sizing: border-box;
}

h1{
  margin: 0;
  font-size: 72px;
  background: -webkit-linear-gradient($textHoverColor, $textColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: 'InterTight';
  src: url(../../public/InterTight-VariableFont_wght.ttf) format('truetype');
}